<!DOCTYPE html>
<html>
  <head>
    <title>Flikr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <script type="text/javascript">
      <% if logged_in? %>
          window.currentUser = <%= render("api/user.json.jbuilder",
          user: current_user).html_safe %>
      <% end %>
    </script>
    <script type="text/javascript">
      window.cloudinaryOptions = {
        cloud: '<%= ENV['CLOUD_NAME']%>',
        uploadPreset: '<%= ENV['UPLOAD_PRESET']%>'
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
