<!DOCTYPE html>
<html>
  <head>
    <title>Flikr</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">

    <script src="https://use.fontawesome.com/42b30171fb.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://widget.cloudinary.com/global/all.js" charset="utf-8"></script>
    <script type="text/javascript">
      <% if logged_in? %>
          window.currentUser = <%= render("api/users/user.json.jbuilder",
          user: current_user).html_safe %>
      <% end %>
    </script>
    <script type="text/javascript">
      window.cloudinaryOptions = {
        cloud_name: 'flikr',
        upload_preset: 'ozmwc4ev',
        theme: "minimal"
      }
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
